@import "_global";
@import "_vars";
@import "fonts";


.header {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 130vh;
    background-color: #f6fbff;
    z-index: 1000;
    
   
}

.sticky {
   
    position: absolute;
    height: 120px;
    background: #AFEEEE;
    
    text-align: center;
    width: 100%;
    padding: 0 15px;
    transition: all 1s ease;
    left: 0;
    margin: 0 auto;
    }


.header__top {
    display: flex;
    justify-content: space-between;
    height: 110px;
    transition: all 1s ease;
    
    align-items: center;
    margin-bottom: 200px;
    position: fixed;
   
   
    text-align: center;
}

.header__list {
    display: flex;
    
    
}
.header__list-item {
    list-style: none;

   

    
}
.header__list-link {
    text-decoration: none;
    margin-right: 12px;
    font-size: 16px;
    color: #008aff;
    padding: 0 22px;
    transition: all 0.5s;

    &:hover{
        padding: 16px 23px;
        background-color: #008aff;
        color: #fff;
        border-radius: 30px;
    }   
}



.header__menu{

}

.header__link {
    display: block;
    font-size: 16px;
    color: #474747;
    text-decoration: none;
    padding: 15px ;
    background-color: #ffe824;
    border-radius: 30px;
    text-align: center;
    transition: 0.5s;
    &:hover{
        background-color:#FF7F50;
    }
}

.header__img{
    position: absolute;
    top: -15px;
    z-index: -1;
    overflow: hidden;
    right: 0;

}

.header__down {
    padding-top: 240px;
}
.header__info {
    max-width: 750px;
}
.header__info-title {
    font-weight: 300;
    font-size: 33px;
   color: #008aff;
   margin-bottom: 40px;
   
  animation-duration: 2s;
}
.header__info-subtitle {
    font-size: 68px;
    color: #13287e;
    animation-duration: 3s;
}
.header__info-text {
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 52px;
    animation-duration: 4s;
    
}
.header__info-link {
    text-decoration: none;
    font-size: 14px;
    color: #474747;
    padding: 28px 53px;
    background-color: #ffe824;
    border-radius: 30px;
    transition: 0.5s;
    animation-duration: 5s;
    &:hover{
        background-color:#FF7F50;
    }
}




.about {
 padding: 137px 0;
}

.about__inner {
   
}

.about__wrap{
    display: flex;
    justify-content: space-between;

}
.about__commercial {
    max-width: 555px;
    
    animation-duration: 2s;

}
.about__commercial-title {
    font-size: 33px;
    color: #008aff;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
}
.about__commercial-subtitle {
    text-align: center;
    font-size: 20px;
    color: #474747;
    margin-bottom: 66px;
}
.about__commercial-img {
    margin-bottom: 63px;
}

.about__residential-img {
    margin-bottom: 63px;
}
.about__info {
    text-align: center;
}
.about__info-text {
    text-align: left;
    font-size: 20px;
    font-weight: 300;
    line-height: 35px;
    color: #474747;
}
.about__box {
    padding: 58px 0;
    display: flex;
    
}
.about__box-left {
    margin-right: 90px;
}
.about__box-left--item {
    text-align: left;
    font-size: 20px;
    color: #008aff;
    margin-bottom: 21px;
}

.about__box-right--item {
    text-align: left;
    font-size: 20px;
    color: #008aff;
    margin-bottom: 21px;
}
.about__info-link {
   text-decoration: none;
   font-size: 14px;
   color: #474747;
   padding: 25px 26px;
   background-color: #ffe824;
   border-radius: 30px;
   transition: 0.5s;
   &:hover{
       background-color:#FF7F50;
   }

    
}
.about__residential {
    max-width: 555px;
    animation-duration: 3s;
}
.about__residential-title {
    font-size: 33px;
    color: #008aff;
    text-transform: uppercase;
    margin-bottom: 15px;
   
    text-align: center;
}
.about__residential-subtitle {
    text-align: center;
    font-size: 20px;
    color: #474747;
    margin-bottom: 66px;
    text-align: center;
}



.advantages {
    padding: 137px 0;
}

.advantages__inner {
}
.advantages__top {
    text-align: center;
    padding-bottom: 185px;
    position: relative;
   
    
      &::before{
       
          content: "";
        
         position: absolute;
        height: 1px;
        width:  400px;
        background-color: #d6d6db;
        right: 0;
         top: 10%;

    }

  &::after{
       
        content: "";
      
         position: absolute;
        height: 1px;
         width:400px;
       background-color: #d6d6db;
        left: 0;
        top: 10%;

     }
}
.advantages__down {
    text-align: center;
}

.advantages__item-img{
    margin-bottom: 53px;
}
.advantages__down-title {
  
    font-size: 33px;
    color: #13287e;
    margin-bottom: 105px;

    


}
.advantages__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
   
}
.advantages__item {
    margin: 0 auto;
  max-width: 280px; 
  margin-bottom: 80px;
}
.advantages__info {
}
.advantages__info-title {
    position: relative;
    font-size: 28px;
    color: #13287e;
    margin-bottom: 53px;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        width: 151px;
        height: 2px;
        background-color: #ffed50;
        left: 70px;
      top: 60px;
    }
}

.advantages__info-text {
    font-size: 19px;
    line-height: 32px ;
    color: #474747;
}



.offers {
    height: 700px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.offers-parallax{
    position: absolute;
    background-image: url(../images/offers/bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 110%;
    height: 110%;
    transition: all 0.1s ease;  
    z-index: -1;
}

.offers__inner {
   
}
.offers__top {
    padding: 86px 0;
    text-align: center;
   
}
.offers__top-title {
    font-size: 33px;
    color: #13287e;
}
.offers__down {
    
}
.offers__slider {
    
   
   
}
.offers__slider-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
    color: #474747;
    text-align: center;
    max-width: 670px;
    margin: 0 auto;
    margin-bottom: 50px;
   
}
.offers__info {
    text-align: center;
   
    
  
}
.offers__info-img {
    margin: 0 auto;
    margin-bottom: 46px;
    
}
.offers__info-name {
    font-size: 19px;
    color: #f7b74d;
    margin-bottom: 15px;
}
.offers__info-country {
    font-weight: 300;
    font-size: 16px;
    color: #474747;
}



.pricing {
    padding: 211px 0;
}

.pricing__inner {
}
.pricing__top {
    text-align: center;
    max-width: 740px;
    margin: 0 auto;
    padding-bottom: 65px;
}
.pricing__top-title {
    font-size:  33px;
    color: #13287e;
    text-transform: uppercase;
    margin-bottom: 55px;
    animation-duration: 2s;
}
.pricing__top-text {
    font-size: 20px;
    line-height: 35px;
    color: #474747;
    animation-duration: 3s;
}
.pricing__down {
    flex-wrap: wrap;
    margin: 0 auto;
   
}
.pricing__plan {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
}



.pricing__start {
    padding: 20px;
    flex-wrap: wrap;
    margin-right: 10px;
    margin: 0 auto;
    
}

.pricing__standard {
    padding: 20px;
    margin-right: 10px;
    margin: 0 auto;
   
    
}

.pricing__premium {
    padding: 20px;
    flex-wrap: wrap;
    margin-right: 10px;
    margin: 0 auto;
    
}
.pricing__title {
    font-size: 26px;
}
.pricing__value {
    position: relative;
    font-weight: 600;
    font-size: 119px;
    color: #008aff;
    &::before{
        content: "$";
        position: absolute;
        font-size: 25px;
        color: #474747;
        left: 30px;
        top: 10px;
    }
    &::after{
        content: "95";
        position: absolute;
        font-size: 25px;
        color: #474747;
        right:  20px;
        top: 10px;
    }
    
    
}

.pricing__hour {
    font-weight: 300;
    font-size: 16px;
    
}
.pricing__info {
   max-width: 226px;
    padding: 40px 0;
}
.pricing__info-text {
    font-weight: 300;
    font-size: 17px;
    line-height: 35px;
    margin-bottom: 25px;
}
.pricing__info-text-blue {
    color: #008aff;
    font-weight: 400;
}
.pricing__info-link {
    text-decoration: none;
    font-size: 14px;
    color: #474747;
    text-transform: uppercase;
    padding: 20px 60px;
    background-color: #ffe824;
    border-radius: 30px;
    transition: 0.5s;
   &:hover{
       background-color:#FF7F50;
       color: #fff;
   }
}

.reviews{
   padding: 215px 0 0 0;
    width: 100%;
    height: 130vh;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    background-image: url(../images/reviews/bg.png);
    &::after{
        content: url(../images/reviews/decorate.png);
        position: absolute;
        top: 130px;
        left: 45%;
    }
}



.reviews__inner {
    text-align: center;
    padding: 90px 0;
    
}
.reviews__inner-title {
    font-size: 68px;
    font-weight: 600;
    color: #13287e;
    text-transform: uppercase;
    margin-bottom: 55px;
    animation-duration: 2s;
}
.reviews__inner-text {
    font-weight: 300;
    font-size: 20px;
    color: #474747;
    line-height: 35px;
    max-width: 750px;
    margin: 0 auto;
    padding-bottom: 56px;
    animation-duration: 3s;
}
.reviews__inner-link {
    position: relative;
    text-decoration: none;
    background-color: #ffe824;
    font-size: 14px;
    color: #474747;
    padding: 28px 41px;
    border-radius: 30px;
    transition: all 0.5s;
    &::before{
        content: url(../images/reviews/close.png);
        position: absolute;
        left: 15px;
        top: 30px;
    }

    &:hover{
        background-color:#FF7F50;
        color: #fff;
    }
 
}
.reviews__inner-link--big {
    font-weight: 600;
    font-size: 15px;
}




.news {
    padding: 100px 0;
}

.news__inner {
}
.news__top {
    text-align: center;
    margin: 0 auto;
    max-width: 700px;
    padding-bottom: 54px;
}
.news__top-title {
    font-size: 33px;
    color: #13287e;
    text-transform: uppercase;
    margin-bottom: 54px;
    animation-duration: 2s;
}
.news__top-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
    animation-duration: 3s;
}
.news__down {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    
}
.news__content {
    padding:  10px;
    margin-right: 10px;
    margin: 0 auto;

}
.news__content-img {
  
 display: flex;
  
  position: relative;
}

.news__content-hover{
    opacity: 0;
    position: absolute;
    transition: 1s;

    &:hover{
        opacity: 1;
    }
    
}

.img{
    max-width: 350px;
}



.news__info {
    padding: 59px 10px;
    max-width: 350px;
}
.news__info-title {
    font-weight: 300px;
    font-size: 20px;
    color: #13287e;
    margin-bottom: 35px;
}
.news__info-text {
    font-size: 20px;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 30px;
    
}
.news__info-link {
 text-transform: uppercase;
    font-size: 12px;
    line-height: 35px;
    color: #008aff;
}




.footer {
    
    
}

.footer__inner {
    border-top: 1px solid #d8d8de;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
   
}
.footer__info {
    padding: 10px 10px 30px 0;
    margin-right: 20px;
    

    
}
.footer__logo {
    
}
.footer__info-link {
    text-align: center;
    display: block;
    padding: 25px;
    background-color: #ffe824;
    border-radius: 30px;
    font-size: 14px;
    text-transform: uppercase;
    color: #474747;
    margin-top: 40px;
    text-decoration: none;
    transition: all 0.5s;
    &:hover{
        background-color: #FF7F50;
    }
}
.footer__contact {
    
}
.footer__contact-title{
    margin-bottom: 18px;
}
.footer__contact-mobile {
    display: inline-block;
    margin-bottom: 20px;
    color: #474747;
    text-decoration: none;
    transition: all 0.5s;
    &:hover{
        color: #008aff;
    }
}
.footer__contact-city {
    margin-bottom: 20px;
}
.footer__contact-map {
    font-size: 14px;
    color: #008aff;

}
.footer__newsletter {
}
.footer__newsletter-title {
    font-size: 16px;
    margin-bottom: 21px;
}
.footer__form {
    width: 100%;
    position: relative;
    display: inline-block;
    border: 1px #373737;
    
}
.footer__input {
    width: 370px;
    padding: 10px 80px 10px 30px;
   
  
    
    
}

.footer__btn{
    position: absolute;
    display: inline-block;
    padding: 14px 16px ;
    background-color: #858484;
    border: none;
    outline: none;
    cursor: pointer;
    right: 0px;
    font-size: 16px;
    color: #474747;
    transition: all 0.5s;
    &:hover{
        background-color: #a9a9aa;
    }
}
.footer__messangers {
    display: flex;
    padding: 0;

}
.footer__messangers-link {
    justify-content: left;
    display: inline-block;
    padding: 0;
  margin-left: 20px;
  font-size: 30px;
  color: #474747;
}
.footer__messangers-link--facebook {
    transition: all 0.5s;
    &:hover{
        color: #0000FF ;
    }
}


.footer__messangers-link--twitter {
    transition: all 0.5s;
    &:hover{
        color: #00FFFF;
    }
}

.footer__messangers-link--youtube {
    transition: all 0.5s;
    &:hover{
        color: #DC143C;
    }
}

.footer__messangers-link--whatsapp {
    transition: all 0.5s;
    &:hover{
        color: #3CB371;
    }
}


@media(max-width:1151px){

   

    .about__inner{
        margin: 0 auto;
        align-items: center;
    }
    .about__wrap{ 
        flex-wrap: wrap;
        margin: 0 auto;
        align-items: center;
       
    }

    .about__commercial{
        padding-bottom: 100px;
        margin: 0 auto;
        text-align: center;
    }

    .about__residential{
        padding-bottom: 100px;
        margin: 0 auto;
        text-align: center;

    }

    .about__info{
        max-width: 800px;
        text-align: center;
    }
    .about__commercial{
        max-width: 100%;
    }

    .about__residential{
        max-width: 100%;
    }

    .about__residential-img{
       
      
        
        max-width:  300px;
    }
    .about__commercial-img{
        
       
        max-width: 300px;
        
    }

    .about__info-text{
        font-size: 20px;
        text-align: center;
    }

    .about__box{
        display: flex;
        justify-content: space-between;
    }

    .about__box-left {
         margin-right: 0; 
    }
    .about__box-left--item{
        font-size: 20px;
       
    }
    .about__box-right--item{
        font-size: 20px;
    }
}

@media(max-width:1106px){

   
    .navBurger {
        z-index: 1000;
        position: fixed;
        right: 20px;
        top: 40px;
        cursor: pointer;
        background:#00FFFF;
        box-sizing: border-box;
        background-clip: content-box;
        width: 30px;
        height: 24px;
        border-top: 11px solid transparent;
        border-bottom: 11px solid transparent;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        &:before,
        &:after {
           
            content: "";
            position: absolute;
            background:#00FFFF;
            height: 2px;
            width: 100%;
            right: 0;
            will-change: rotate;
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
        &:before {
           height: 2px;
            top: -10px;
            width: 100%;
        }
        &:after {
            bottom: -10px;
            width: 70%;
        }
        &.active {
            background: transparent;
            background-clip: content-box;
        }
        &.active:before {
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
            top: 0;
            background: #eee;
            width: 110%;
        }
        &.active:after {
            bottom: 0;
            -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
            background: #eee;
            width: 110%;
        }
    }

    .overlay {
     
       position: fixed;
     z-index: 1000;
        background: #00FFFF;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        transform-origin: right top;
        opacity: 0;
        transform: scale(0);
        visibility: hidden;
    
        
        transition: all 0.4s ease-in-out;
        overflow: hidden;

       
    
        
        
        

         &.open {
             opacity: 1;
             visibility: visible;
             transform: scale(1);
          li {
                display: block;
               animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5)
                 forwards;
                animation-delay: 0.4s;
                transform: rotate(-7deg);
             transform-origin: right bottom;
             &:nth-of-type(2) {
                    animation-delay: 0.5s;
               }
                 &:nth-of-type(3) {
                    animation-delay: 0.6s;
                }
                 &:nth-of-type(4) {
                     animation-delay: 0.7s;
                 }
                &:nth-of-type(5) {
                    animation-delay: 0.8s;
                 }
             }
        }
    }

    .header__list{
        display: block;
    }

    .header__menu {
        position: absolute;
        text-align: right;
        right: 10px;
        bottom: 10vw;
        ul {
            list-style: none;
            padding: 0;
            margin: 0 auto;
            display: block;
            position: relative;
            height: 100%;
            li {
                display: block;
                position: relative;
                opacity: 0;
                width: 100%;
                a {
                    display: inline-block;
                    border: 1px solid rgba(255, 255, 255, 0.09);
                    color: #fff;
                    text-decoration: none;
                    font-size: 30px;
                    padding: 10px 40px 10px 40px;
                    margin: 5px 0;
                    transition: 0.2s;
                    background: #2a3140;
                    &:hover,
                    &:active,
                    &:focus {
                        padding: 10px 40px 10px 40px;
                       background-color: transparent;
                       border-radius: 0;
                        transform: translateX(-2px);
                        padding-left: 80px;

                        border: 1px solid rgba(255, 255, 255, 1);
                    }
                }
            }
        }
    }
    
    .locked {
        overflow: hidden;
    }
    
    @keyframes fadeInRight {
        0% {
            opacity: 0;
            left: 50px;
        }
        100% {
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
        }
    }

    .sticky{
     
    background: none;
    
   
      
    }

    

    .header__top{
        position: relative;
        
        
       

    }

    .header__link {
        position: absolute;
        right: 10%;
        z-index: 1;
        display: block;
        font-size: 16px;
        color: #474747;
        text-decoration: none;
        padding: 15px ;
        background-color: #ffe824;
        border-radius: 30px;
        text-align: center;
        transition: 0.5s;
        &:hover{
            background-color:#FF7F50;
        }
    }

    .header__down{
        padding: 0;
    }
}


@media(max-width: 962px){
    .advantages__top {
       
        
          &::before{
           
              content: "";
            
             position: absolute;
            height: 1px;
            width:  300px;
            background-color: #d6d6db;
            right: 0;
             top: 10%;
    
        }
    
      &::after{
           
            content: "";
          
             position: absolute;
            height: 1px;
             width:300px;
           background-color: #d6d6db;
            left: 0;
            top: 10%;
    
         }
    }

    
}


@media(max-width:754px){
    .header__info-title {
        font-weight: 300;
        font-size: 23px;
       color: #008aff;
       margin-bottom: 40px;
       
      animation-duration: 2s;
    }

    .header__info{
        max-width: 650px;
        text-align: center;
        margin: 0 auto;
    }
    .header__info-subtitle {
        font-size: 58px;
        color: #13287e;
        animation-duration: 3s;
    }
    .header__info-text {
        font-size: 15px;
        line-height: 35px;
        margin-bottom: 52px;
        animation-duration: 4s;
        
    }
    .header__info-link {
        text-decoration: none;
        font-size: 14px;
        color: #474747;
        padding: 28px 53px;
        background-color: #ffe824;
        border-radius: 30px;
        transition: 0.5s;
        animation-duration: 5s;
        &:hover{
            background-color:#FF7F50;
        }
    }

    .advantages__top {
       
        
        &::before{
         
            content: "";
          
           position: absolute;
          height: 1px;
          width:  200px;
          background-color: #d6d6db;
          right: 0;
           top: 10%;
  
      }
  
    &::after{
         
          content: "";
        
           position: absolute;
          height: 1px;
           width:200px;
         background-color: #d6d6db;
          left: 0;
          top: 10%;
  
       }
    }

    .pricing__down{
        flex-wrap: wrap;
    }



}


@media(max-width:650px){
    .header__info-title {
        font-weight: 300;
        font-size: 17px;
       color: #008aff;
       margin-bottom: 40px;
       
      animation-duration: 2s;
    }

    .header__info{
        max-width: 500px;
        text-align: center;
    }
    .header__info-subtitle {
        font-size: 45px;
        color: #13287e;
        animation-duration: 3s;
    }
    .header__info-text {
        font-size: 12px;
        line-height: 35px;
        margin-bottom: 52px;
        animation-duration: 4s;
        
    }
    .header__info-link {
        text-decoration: none;
        font-size: 14px;
        color: #474747;
        padding: 18px 43px;
        background-color: #ffe824;
        border-radius: 30px;
        transition: 0.5s;
        animation-duration: 5s;
        &:hover{
            background-color:#FF7F50;
        }
    }

    .offers__top-title{
        font-size: 30px;
        
    }

    .offers__inner{
        margin: 0 auto;
    }

    .offers__slider-text{
        text-align: center;
        font-size: 12px;
        margin-bottom: 20px;
        max-width: 400px;
    }

    .offers__top{
        padding-bottom: 40px;
    }


    .pricing__top-text{
        font-size: 15px;
    }

    .reviews__inner-title{
        font-size: 30px;
    }

    .reviews__inner-text{
        font-size: 15px;
    }


    .news__content{
        margin: 0 auto;
    }

    .news__top-title{
        font-size: 20px;
    }

    .news__top-text{
        font-size: 12px;
    }

    .img{
        width: 250px;
    }

    .news__info{
        padding: 20px 60px 20px 0;

    }

    .news__info-title{
        font-size: 15px;
    }
    .news__info-text{
        font-size: 13px;
    }

    .reviews__inner-link{
        padding: 20px;

        &::before{
            display: none;
        }
    }

    .reviews__inner-title{
        margin-bottom: 10px;
    }

}


@media(max-width:512px){
    .header__info-title {
        font-weight: 300;
        font-size: 17px;
       color: #008aff;
       margin-bottom: 40px;
       
      animation-duration: 2s;
    }

    .header__info{
        max-width: 400px;
        text-align: center;
    }
    .header__info-subtitle {
        font-size: 35px;
        color: #13287e;
        animation-duration: 3s;
    }
    .header__info-text {
        font-size: 10px;
        line-height: 35px;
        margin-bottom: 52px;
        animation-duration: 4s;
        
    }
    .header__info-link {
        text-decoration: none;
        font-size: 14px;
        color: #474747;
        padding: 18px 43px;
        background-color: #ffe824;
        border-radius: 30px;
        transition: 0.5s;
        animation-duration: 5s;
        &:hover{
            background-color:#FF7F50;
        }
    }

    .header__link {
        position: absolute;
        right: 12%;
        z-index: 1;
        display: block;
        font-size: 10px;
        color: #474747;
        text-decoration: none;
        padding: 15px ;
        background-color: #ffe824;
        border-radius: 30px;
        text-align: center;
        transition: 0.5s;
        &:hover{
            background-color:#FF7F50;
        }
    }

    .advantages__top {
       
        
        &::before{
         
            content: "";
          
           position: absolute;
          height: 1px;
          width:  100px;
          background-color: #d6d6db;
          right: 0;
           top: 10%;
  
      }
  
    &::after{
         
          content: "";
        
           position: absolute;
          height: 1px;
           width:100px;
         background-color: #d6d6db;
          left: 0;
          top: 10%;
  
        }
    }

    .footer__inner{
        text-align: center;
    }


    .footer__input{
        max-width:  300px;
    }

    .footer__messangers{
     
      justify-content: center;
    }


    .footer__info{
        margin: 0 auto;
       
    }

    .footer__contact{
        margin: 0 auto;
        padding: 10px;
    }

    .footer__newsletter{
        margin: 0 auto;
        padding: 10px;
    }
    
    

   

   



      

}


@media(max-width:406px){
    .header__info-title {
        font-weight: 300;
        font-size: 14px;
       color: #008aff;
       margin-bottom: 40px;
       
      animation-duration: 2s;
    }

    .header__info{
        max-width: 300px;
        text-align: center;
    }
    .header__info-subtitle {
        font-size: 25px;
        color: #13287e;
        animation-duration: 3s;
    }
    .header__info-text {
        font-size: 10px;
        line-height: 35px;
        margin-bottom: 52px;
        animation-duration: 4s;
        
    }

  
    

}

@media(max-width:375px){
    .about__box-left--item{
        font-size: 10px;
       
    }
    .about__box-right--item{
        font-size: 10px;
    }

    .advantages__down-title{
        font-size: 30px;
    }

    .advantages__top{
        padding-bottom: 100px;
        margin: 0;
    }

    
}


@media(max-width:358px){
    .header__link {
      display: none;
    }

    .offers__top-title{
        font-size: 30px;
    }


    .footer__input{
        max-width:  250px;
        font-size: 12px;

    }

    .footer__btn{
        padding: 9px;
    }




}



